extends layout

block content

  h1 #{title}: #{category.name}

  if items.length

    .confirm
      p #[strong Delete the following items before attempting to delete this category.]
    div(style='margin-left:20px;margin-top:20px')
      .item
        each item in items
          .item-details
            h2 #{item.name}
            p #{item.description}
            p Price: $#{item.price}
          .crud-actions
            a(href=`/category/item/delete/${category._id}/${item._id}`) Delete 
            a(href=`item/update/${category._id}/${item._id}`) Update Item

  else
    .delete
      p Do you really want to delete this category?

      form(method='POST')
        div
          input(type='hidden', name='categoryid', value=category._id )

        button(type='submit') Delete
