extends layout

block content
  h1= title

  if categoryList.length
    .category-container
      each category in categoryList
        .category-list
          h2 #{category.name}
          p #{category.description}
          .links
            a(href=`/category/${category._id}`) View Items
            a(href=`/category/${category._id}/delete`) Delete
            a(href=`/category/${category._id}/update`) Update

  else
    p There are no products.

